streamlit
psycopg2-binary
PyJWT
bcrypt
python-dotenv
email-validator
fastapi
uvicorn
python-multipart
requests
langdetect
ftfy
emoji
deep-translator
vaderSentiment
spacy
pandas
matplotlib
reportlab
transformers
accelerate
torch
stopwordsiso
deepface
opencv-python-headless==4.10.0.84